{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>AlloyStrength Admin</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-top.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="#">Alloy Strength Admin</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Videos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Levels</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Exercises</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto" style="margin-left:600px; float:right;">
          <li class="nav-item active">
            <a class="nav-link" href="#">Profile<span class="sr-only">(current)</span></a>
          </li>
        </ul>
<!--         <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
 -->      </div>
    </nav>

    <div class="container">
      <div class="jumbotron" style="margin-top:0px; margin-bottom:50px; display:inline-block; width:100%; height:1000px; padding-right:0px;">
        <h5 style="margin-bottom:10px; margin-top:0px; display:inline-block;">Write Exercise-Specific Descriptions for: </h5>
        <br><h3>{{Video_Title}}</h3> 
    <div style="margin-right:10px; height:700px; width:1000px; display:inline-block;">
      <div style="display:inline-block; margin-right:0px; width:100%; padding:0px;">
<!--           <form method="POST" enctype="multipart/form-data" style="height:10px; margin-bottom:0px;">{% csrf_token %}
            <input type="submit" name="Clear" class="btn btn-sm btn-primary" style="margin-top:5px; display:inline-block;" role="button" value="Clear All">
          </form><br>        
 -->          
        <video width="320" height="240" controls style="margin-top:0px; display:inline-block; vertical-align:top;">
            <source src="{{Video_URL}}" type="video/mp4">
        </video>
        <img src="{{Thumbnail_URL}}" alt="Thumbnail" height="100" style="max-width:300px; margin-left:10px; margin-top:30px; display:inline-block; vertical-align:top;">
        <br><br>
        <form method="POST" style="margin-bottom:0px;" enctype="multipart/form-data">{% csrf_token %} 
        <h5>Assigned Exercises (Write Descriptions):</h5>
        {% for Exercise in Assigned_Exercises %}
        {{Exercise.0}}
          <br>
          <textarea rows="2" cols="100" name="Description{{Exercise.0}}" placeholder="Write Description">{{Exercise.1}}</textarea> 
          <br>
        {% endfor %}
 <br>
          <input type="submit" class="btn btn-md btn-primary" style="margin-right:50px; display:inline-block;" role="button" name="UpdateDescriptions" value="Update Descriptions">
          <!-- <input type="submit" class="btn btn-md btn-primary" style="margin-right:50px; display:inline-block;" role="button" name="Submit_Btn" value="Upload Video"> -->
         </form>
        </div>
<!--         <div style="vertical-align:top; width:200px; display:inline-block; margin-left:20px; margin-right:0px;">
        <h4>Current Exercises:</h4>
          {%for Exercise in Current_Exercises %}
          {{Exercise}}<br>
          {% endfor %}
        </div>
 -->      </div>

        <!-- <br> -->
        <!-- <input type="submit" class="btn btn-sm btn-primary" style="margin-left:10px; margin-top:-5px;" role="button" value="Create"> -->

        </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
