<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">


<!-- Include Vue.js Source Code -->
<script src='https://unpkg.com/vue'></script>
<!-- <script src="https://code.getmdl.io/1.3.0/material.min.js"></script> -->


<!-- Include HTML Code -->
<!-- Head --> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="http://momentjs.com/downloads/moment.js"></script>


    <!-- Material Design code -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   <!--  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-indigo.min.css" /> -->
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  
    <!-- Style Sheets -->
    <link rel="stylesheet" href="{% static 'userpage/userpage.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,600,700" rel="stylesheet">

    <title>User Page</title>
    <style>
    #RPE {
/*        padding-left:0vw;
        width:0.5vw !important;
*/    }
    </style>
</head>


<!-- Body --> 
<body>
<!--     <h1>Welcome, {{first_name}}!</h1>
    <hr>

    <img src='{% static "userpage/header_design.svg" %}'>
 -->

</head>
<body>
    <div id='header-left'>
        <h1>Welcome, {{first_name}}!</h1>
    </div>

    <div id='header-right'>
        <ul id='nav-bar'>
            <li><a href="{%url 'userpage' %}" class='page-active'>Home</a></li>
            <li><a href="{%url 'videos' %}">Videos</a></li>
            <li><a href="{%url 'pastworkouts' %}">Past Workouts</a></li>
            <li><a href="{%url 'userprofile' %}">Profile</a></li>
            <li><a href="{%url 'userpage' %}">Contact & Support</a></li>
            <li><a href="{%url 'logout' %}">Logout</a></li>
        </ul>
    </div>

    <hr>

    <img src='{% static "userpage/header_design.svg" %}'>
<form method="POST" id="Calendar_Form">{% csrf_token %}
    <div id="left_container">
        <div id="date_text_container">
            <!-- <p> Date: </p> -->
            <p id="date_text" value={{Date}}>{{Date}}<p>
        </div>
        <p>Date: {{Date}}</p>

        {{Curr_Year}}
        {{Curr_Month}}
        {{Curr_Day}}

        <hr id='dummy_divider'>
        <div id="datepicker"></div>
        <!-- Test -->
        <!-- <div id="summary">Content goes here</div> -->
    </div>
</form>

    <div id='right_container'>

<!--         {% for Day in Workout_Day.1 %}
        <div id='stats_info'>
        <h3 style="margin-bottom:1vw;">Selected Date:</h3>
        <h2 style="margin-top:1vw;">{{Date}}</h2>
        <h3>No Workout For This Day</h3>
        </div>
        {% endfor %}

 -->        <div id='stats_info'>
            <h2>{{Date}}</h2>
            <h3 style="display:inline-block;">{{Workout_Info}}</h3>
            <h3 style="margin-top:0px; color:red; display:inline-block;">{{Alloy}}</h3>
            <hr>
            </div>
        {% for Day in Workout_Day.0 %}
        <form method="GET">
        <table class='table_calendar' style="margin-top:-1vw;">
            <tr>    
                <th class='table_header'>Pattern</th>
                <th class='table_header'>Exercise</th>
                <th class='table_header'>Reps</th>
                <th class='table_header'>Weight (lbs)</th>
                <th class='table_header' id="RPE" style="width:0.25vw !important;">RPE</th>
                {% for Yes in Tempo %}
                <th class='table_header'>Tempo</th>
                {% endfor %}
            </tr>

            {% for Pattern in Patterns %}
            <tr class='table_content' style="padding-top: 0px !important;">
                <td style="font-size:0.8vw;">
                <b style="font-size:1vw;">{{Pattern.Exercise_Type}}</b>
                <br>
                {{Pattern.Sets}} x {{Pattern.Reps}} @ {{Pattern.RPE}} RPE
                <br>
                Weight: {{Pattern.Suggested_Weight}}
                <br>
                Deload: {{Pattern.Deload}}
                </td>
                <!-- EXERCISE NAMES -->
                <td style="width:0.5vw !important;">
                 {{Pattern.Exercise_Name}}      
                 {{Pattern.Set_Stats}}          
                 {% for PK in Pattern.Video_PK %}
                    <button type="submit" id="blue_btn" name="Video" value="{{PK}}">Watch Video</button>
                 {% endfor %}
                 <!-- <input type="submit" id="blue_btn" name="Video" value="Video" style="margin-top:0.5vw;"> -->
                </td>

                <!-- REPS -->
                <td>
                {% for Set in Pattern.Filled_Sets %}
                    <div style="height:20px; border-top:solid; border-color:rgba(83,109,254,0.75); padding-left:0px !important;">
                    {{Set.Reps}} (Completed)
                    </div>
                {% endfor %}

                {% for Set in Pattern.Same_Day_Col.Pre_Show.Regular %}
                    <div style="height:20px; border-top:solid; border-color:rgba(83,109,254,0.75); padding-left:0px !important;">
                    {{Pattern.Reps}}
                    </div>
                {% endfor %}
                {% for Set in Pattern.Same_Day_Col.Pre_Show.Alloy_Sub %}
                    <div style="text-align:center; height:20px; border-top:solid; border-color:rgba(83,109,254,0.75); 
                    padding-left:0px !important;">
                        {{Pattern.Reps}}
                    </div>
                {% endfor %}
                {% for Set in Pattern.Same_Day_Col.Pre_Show.Alloy_Set %}
                    <div style="text-align:center; height:20px; border-top:solid; border-color:rgba(83,109,254,0.75); 
                    padding-left:0px !important;">
                    <input type="submit" style="height:100%; width:100%; font-size:0.75vw;" 
                    onclick="check_null_specific('{{Pattern.Input_ID}}')"
                    class="{{Pattern.Input_ID}}" name="{{Pattern.Exercise_Type}}_Get_Alloy" value="GetTest Alloy Set">
                        <!-- {{Pattern.Reps}}+ -->
                    </div>
                {% endfor %}                 

                {% for Set in Pattern.Same_Day_Col.Post_Show.Regular %}
                    <div style="height:20px; border-top:solid; border-color:rgba(83,109,254,0.75); padding-left:0px !important;">
                    {{Pattern.Reps}}
                    </div>
                {% endfor %}
                {% for Set in Pattern.Same_Day_Col.Post_Show.Alloy_Sub %}
                    <div style="text-align:center; height:20px; border-top:solid; border-color:rgba(83,109,254,0.75); 
                    padding-left:0px !important;">
                        {{Pattern.Reps}}
                    </div>
                {% endfor %}
                {% for Set in Pattern.Same_Day_Col.Post_Show.Alloy_Set %}
                    <div style="text-align:center; height:20px; border-top:solid; border-color:rgba(83,109,254,0.75); 
                    padding-left:0px !important;">
                        <input type="text" placeholder="{{Pattern.Money}}+" name = "{{Set.0}}_Reps" 
                        style="width:95%; height:17px; border-style:none; text-align:center;">                        
                    </div>
                {% endfor %}

                {% for Set in Pattern.Empty_Sets %}
                    <div style="text-align:center; height:20px; border-top:solid; border-color:rgba(83,109,254,0.75); 
                    padding-left:0px !important;">
                    </div>
                {% endfor %}

                <!-- WEIGHT COLUMN -->
                <td style="border-style:solid !important; border-left:solid black; padding:0px !important; padding-top:0px !important; margin-top: 0px !important;">

                {% for Set in Pattern.Filled_Sets %}
                    <div style="height:20px; border-top:solid; border-color:rgba(83,109,254,0.75); padding-left:0px !important;">
                    {{Set.Weight}}
                    </div>
                {% endfor %}

                {% for Set in Pattern.Regular_Sets.Input %}
                    <div style="height:20px; border-top:solid; border-color:rgba(83,109,254,0.75); padding-left:0px !important;">
                    <input type="text" placeholder="Enter Weight" class="{{Pattern.Input_ID}}"
                    name = "{{Set.0}}_Weight" style="width:95%; height:17px; border-style:none;">
                    </div>
                {% endfor %}


                {% for Set in Pattern.Same_Day_Col.Pre_Show.Regular %}
<!--                     <div style="height:20px; border-top:solid; border-color:rgba(83,109,254,0.75); padding-left:0px !important;">
                    <input type="text" placeholder="Enter Weight" class="{{Pattern.Input_ID}}"
                    name = "{{Set.0}}_Weight" style="width:95%; height:17px; border-style:none;">
                    </div>
 -->                {% endfor %}
                {% for Set in Pattern.Same_Day_Col.Pre_Show.Alloy_Sub %}
<!--                     <div style="height:20px; border-top:solid; border-color:rgba(83,109,254,0.75); padding-left:0px !important;">
                    <input type="text" placeholder="Enter Weight" class="{{Pattern.Input_ID}}"
                    name = "{{Set.0}}_Weight" style="width:95%; height:17px; border-style:none;">
                    </div>
 -->                {% endfor %}
                {% for Set in Pattern.Same_Day_Col.Pre_Show.Alloy_Set %}
                <div style="background-color:yellow; height:20px; border-top:solid; border-color:rgba(83,109,254,0.75);">                
                X
                </div>
                {% endfor %}

                {% for Set in Pattern.Same_Day_Col.Post_Show.Regular %}
                    <div style="height:20px; border-top:solid; border-color:rgba(83,109,254,0.75); padding-left:0px !important;">
                    Old Weight
                    </div>
                {% endfor %}
                {% for Set in Pattern.Same_Day_Col.Post_Show.Alloy_Sub %}
                    <div style="height:20px; border-top:solid; border-color:rgba(83,109,254,0.75); padding-left:0px !important;">
                    Old Weight
                    </div>
                {% endfor %}
                {% for Set in Pattern.Same_Day_Col.Post_Show.Alloy_Set %}
                <div style="background-color:yellow; height:20px; border-top:solid; border-color:rgba(83,109,254,0.75);">      
                    Alloy Weight          
                </div>
                {% endfor %}


                {% for Set in Pattern.Empty_Sets %}
                    <div style="height:20px; border-top:solid; border-color:rgba(83,109,254,0.75); padding-left:0px !important;">
                    </div>
                {% endfor %}

                </td>
                <!-- RPE -->
                <td style="text-align:center;" id="RPE" style="width:0.25vw !important;">
                {% for Set in Pattern.Filled_Sets %}
                    <div style="height:20px; border-top:solid; border-color:rgba(83,109,254,0.75); padding-left:0px !important;">
                    {{Set.RPE}}
                    </div>
                {% endfor %}
                {% for Set in Pattern.Same_Day_Col.Pre_Show.Regular %}
                    <div style="height:20px; border-top:solid; border-color:rgba(83,109,254,0.75); padding-left:0px !important;">
                        <select class="{{Pattern.Input_ID}}" style="text-align:center; width:100%;" name="{{Set.0}}_RPE">
                            <option value="" style="text-align:center; margin-left:3vw;">Select RPE</option>
                        {% for RPE in RPE_List %}
                            <option value={{RPE.1}} style="text-align:center; margin-left:3vw;">{{RPE.0}}</option>
                        {% endfor %}
                            <option value="X" style="text-align:center; margin-left:3vw;">X (Failure)</option>
                        </select>
                    </div>
                {% endfor %}
                {% for Set in Pattern.Same_Day_Col.Pre_Show.Alloy_Sub %}
                    <div style="height:20px; border-top:solid; border-color:rgba(83,109,254,0.75); padding-left:0px !important;">
                        <select class="{{Pattern.Input_ID}}" style="text-align:center; width:100%;" name="{{Set.0}}_RPE">
                            <option value="" style="text-align:center; margin-left:3vw;">Select RPE</option>
                        {% for RPE in RPE_List %}
                            <option value={{RPE.1}} style="text-align:center; margin-left:3vw;">{{RPE.0}}</option>
                        {% endfor %}
                            <option value="X" style="text-align:center; margin-left:3vw;">X (Failure)</option>
                        </select>
                    </div>
                {% endfor %}
                {% for Set in Pattern.Same_Day_Col.Pre_Show.Alloy_Set %}
                <div style="background-color:yellow; height:20px; border-top:solid; border-color:rgba(83,109,254,0.75);">                
                10 (Alloy Set)
                </div>
                {% endfor %}

                {% for Set in Pattern.Same_Day_Col.Post_Show.Regular %}
                    <div style="height:20px; border-top:solid; border-color:rgba(83,109,254,0.75); padding-left:0px !important;">
                    Old RPE
                    </div>
                {% endfor %}
                {% for Set in Pattern.Same_Day_Col.Post_Show.Alloy_Sub %}
                    <div style="height:20px; border-top:solid; border-color:rgba(83,109,254,0.75); padding-left:0px !important;">
                    Old RPE
                    </div>
                {% endfor %}
                {% for Set in Pattern.Same_Day_Col.Post_Show.Alloy_Set %}
                <div style="background-color:yellow; height:20px; border-top:solid; border-color:rgba(83,109,254,0.75);">                
                10 (Alloy Set)
                </div>
                {% endfor %}


                {% for Set in Pattern.Empty_Sets %}
                    <div style="height:20px; border-top:solid; border-color:rgba(83,109,254,0.75); padding-left:0px !important;">
                    </div>
                {% endfor %}
                </td>
                <!-- TEMPO -->
                    <td>
                {% for Yes in Pattern.Tempo %}
                {% for Set in Pattern.Filled_Sets %}
                    <div style="height:20px; border-top:solid; border-color:rgba(83,109,254,0.75); padding-left:0px !important;">
                    {{Set.Tempo}}
                    </div>
                {% endfor %}
                    {% for n in Pattern.Changeable.Normal %}
                    <div style="height:20px; border-top:solid; border-color:rgba(83,109,254,0.75); padding-left:0px !important;">
                    <input type="text" placeholder="0" name = "{{n.0}}_Tempo_1" class="{{Pattern.Input_ID}}"
                    style="width:25%; height:17px; border-style:none; 
                    text-align:center;">
                    |
                    <input type="text" placeholder="0" name = "{{n.0}}_Tempo_2" class="{{Pattern.Input_ID}}"
                    style="width:25%; height:17px; border-style:none;
                    text-align:center;">
                    |
                    <input type="text" placeholder="0" name = "{{n.0}}_Tempo_3" class="{{Pattern.Input_ID}}"
                    style="width:25%; height:17px; border-style:none;
                    text-align:center;">
                    </div>                
                    {% endfor %}
                    {% for n in Pattern.Changeable.Yellow %}
                    <div style="height:20px; border-top:solid; border-color:rgba(83,109,254,0.75); padding-left:0px !important;">
                        <input type="text" placeholder="0" name = "{{n.0}}_Tempo_1" class="{{Pattern.Input_ID}}"
                        style="width:25%; height:17px; border-style:none; background-color:yellow;
                        text-align:center;">
                        |
                        <input type="text" placeholder="0" name = "{{n.0}}_Tempo_2" class="{{Pattern.Input_ID}}"
                        style="width:25%; height:17px; border-style:none; background-color:yellow;
                        text-align:center;">
                        |
                        <input type="text" placeholder="0" name = "{{n.0}}_Tempo_3" class="{{Pattern.Input_ID}}"
                        style="width:25%; height:17px; border-style:none; background-color:yellow;
                        text-align:center;">
                    </div>                
                    {% endfor %}
                    {% for n in Pattern.Non_Changeable.Normal %}
                    <div style="height:20px; border-top:solid; border-color:rgba(83,109,254,0.75); padding-left:0px !important;">
                        Test
                    </div>                
                    {% endfor %}
                    {% for n in Pattern.Non_Changeable.Yellow %}
                    <div style="height:20px; border-top:solid; border-color:rgba(83,109,254,0.75); padding-left:0px !important;">
                        Test
                    </div>                
                    {% endfor %}
                    {% for n in Pattern.Empty_Sets %}
                    <div style="height:20px; border-top:solid; border-color:rgba(83,109,254,0.75); padding-left:0px !important;">
                    </div>                
                    {% endfor %}
                {% endfor %}
                    </td>
            </tr>
            {% endfor %}
            <br>
        </table>
                <input type='submit' value='TESTER' name="Tester" id='blue_btn'></input>
                {% for Bool in Workout_Day_Time.1 %}
                    {% for Bool in Show_Get_Alloy %}
                        <input type='button' value='GET ALLOY WEIGHTS' 
                        name="Get_Alloy" style="background-color:red;" id='blue_btn'></input>
                    {% endfor %}
                    {% for Bool in Show_Submit %}
                        <input type='submit' value='SUBMIT WORKOUT' name="Submit_Workout" id='blue_btn'></input>
                    {% endfor %}
<!--                 <input type='submit' value='GET ALLOY WEIGHTS' name="Get_Alloy" style="background-color:red;" id='blue_btn'></input>
                <input type='submit' value='SUBMIT WORKOUT' name="Submit_Workout" id='blue_btn'></input>
 -->                
                {% endfor %}
                <input type='submit' value='CHECK LEVEL-UP' name="Level_Up_Check" id='blue_btn'></input>
            {% endfor %}
        </td>
        </form>
        <br><br>

    </div>

</body>

</html>

<script>
    function Test_Alert() {
        alert("Test Alert");
    }

    function check_null_specific(_ID) {
        var Inputs = document.getElementsByClassName(_ID);
        // var Inpus = document.querySelectorAll('[id=_ID]');
        var Alert = false;
        for (index = 0; index < Inputs.length; index ++) {
            if (Inputs[index].value == "") {
                Alert = true;
            }
        }        
        if (Alert) {
            event.preventDefault(); 
            alert("Please finish all sets for the exercise first!");
            return;
        }
    }

    function check_null() {
        var Inputs = document.getElementsByTagName("input");
        for (index = 0; index < Inputs.length; index ++) {
            if (Inputs[index].value == "") {
                alert("Please fill in all required fields!");
            }
        }
    }    
</script>

<script>


    var vm1 = new Vue({
        el:'#stats_info',
        delimiters: ['${', '}'],
        data: {
            level:''
        }
    });

    var vm2 = new Vue({
        el: '.table_calendar',
        delimiters: ['${', '}'],
        data: {
            row1: {
                'exercise_type': '',
                'exercise_name': '',
                'sets': '',
                'reps': '',
                'rpe': ''
            },
            row2: {
                'exercise_type': '',
                'exercise_name': '',
                'sets': '',
                'reps': '',
                'rpe': ''
            },
            row3: {
                'exercise_type': '',
                'exercise_name': '',
                'sets': '',
                'reps': '',
                'rpe': ''
            },
            row4: {
                'exercise_type': '',
                'exercise_name': '',
                'sets': '',
                'reps': '',
                'rpe': ''
            },
            row5: {
                'exercise_type': '',
                'exercise_name': '',
                'sets': '',
                'reps': '',
                'rpe': ''
            }
        }
    });

    function updateRPE() {
        var current_date = $( "#date_text" ).text(); 
        var URL = "{% url 'userpageRPEUpdate' %}"; 
        var data = {'RPE_row1': vm2.row1.rpe,
                    'RPE_row2': vm2.row2.rpe,
                    'RPE_row3': vm2.row3.rpe,
                    'RPE_row4': vm2.row4.rpe,
                    'RPE_row5': vm2.row5.rpe,
                    'current_date': current_date};

        $.post(URL, data, function(response){
            console.log(response); 
        })
    };

    function updateTempDate(){
        var TempDate = $( "#date_text" ).text(); 
        var data = {'TempDate': TempDate};
        var URL = "{% url 'userpageUpdate' %}";

        console.log("I'm in updateTempDate"); 
        $.post(URL, data, function(response){
     
            response1 = response[0];
            vm1.level = response1.level; // all responses have levels, but for now, just display one 
            vm2.row1.exercise_type = response1.exercise_type;
            vm2.row1.exercise_name = response1.exercise_name; 
            vm2.row1.reps = response1.reps;
            vm2.row1.rpe = response1.rpe;


            response2 = response[1];
            vm2.row2.exercise_type = response2.exercise_type;
            vm2.row2.exercise_name = response2.exercise_name; 
            vm2.row2.reps = response2.reps;
            vm2.row2.rpe = response2.rpe;


            response3 = response[2];
            vm2.row3.exercise_type = response3.exercise_type;
            vm2.row3.exercise_name = response3.exercise_name; 
            vm2.row3.reps = response3.reps;
            vm2.row3.rpe = response3.rpe;


            response4 = response[3];
            vm2.row4.exercise_type = response4.exercise_type;
            vm2.row4.exercise_name = response4.exercise_name; 
            vm2.row4.reps = response4.reps;
            vm2.row4.rpe = response4.rpe;


            response5 = response[4];
            vm2.row5.exercise_type = response5.exercise_type;
            vm2.row5.exercise_name = response5.exercise_name; 
            vm2.row5.reps = response5.reps;
            vm2.row5.rpe = response5.rpe; 
        });
        document.getElementById('Calendar_Form').submit();

    }


  $(function() {
        $('#datepicker').datepicker({
            beforeShowDay: function (date) {

                // Get selected date
                // Reference: https://stackoverflow.com/questions/26667720/how-to-get-the-selected-date-from-jquery-datepicker

                var currentDate = $( "#datepicker" ).val();
                $( "#date_text" ).text(currentDate);

                // Reference: https://stackoverflow.com/questions/17863924/jquery-datepicker-add-class-to-first-17-days
                var final_list = {{ final_list | safe }};
                var final_list_len = final_list.length; 

                var workout_list = [] 

                for (i = 0; i < final_list_len; i++) {
                    var workout_date = final_list[i]
                    var workout_string = workout_date.month + '/' + workout_date.day + '/' + workout_date.year; 
                    workout_list.push(new Date(workout_string)); 
                };

                var workout_list_len = workout_list.length; 

                for (i = 0; i < workout_list_len; i++) {
              
                    // if workout date and date on the calendar are the same 
                    if (workout_list[i].getTime() === date.getTime()){
                        return [true, 'workout']; // set styling to 'workout' (see style tag below)
                    }
                };

                return [true, ''];
            },
            onSelect: function (date) {
                //var newDate = $(this).val();
                $( "#date_text" ).text(date);
                updateTempDate();
            }
         })
    });


    (function ($) {
        $.extend($.datepicker, {

            // Reference the orignal function so we can override it and call it later
            _inlineDatepicker2: $.datepicker._inlineDatepicker,

            // Override the _inlineDatepicker method
            _inlineDatepicker: function (target, inst) {

                // Call the original
                this._inlineDatepicker2(target, inst);

                var beforeShow = $.datepicker._get(inst, 'beforeShow');

                if (beforeShow) {
                    beforeShow.apply(target, [target, inst]);
                }
            }
        });
    }(jQuery));


    $(document).ready(function(){
        
        // var currMonthString = {{ Curr_Month }}
        // var currMonth = parseInt(currMonthString, 10)        

        // var currYearString = {{ Curr_Year }}
        // var currYear = parseInt(currYearString, 10)        

        // var currDayString = {{ Curr_Day }}
        // var currDay = parseInt(currDayString, 10)        
        $('#datepicker').datepicker('setDate', '{{Date}}');

        $('#update_table').click(function(){
            updateRPE(); 
        });
    });

</script>


<style>
    .workout .ui-state-default {
        background-color: orange; 
    }

    .today .ui-state-default {
        border: 1px solid black;
    }

</style>

