{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- Include Vue.js Source Code -->
<script src='https://unpkg.com/vue'></script>

<!-- Include HTML Code -->
<head>
<meta charset="UTF-8">

    <!-- Material Design code -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-indigo.min.css">
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script> 

    <!-- Style Sheets -->
    <link rel="stylesheet" href="{% static 'homepage/modal_3.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/navigation_3.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/homepage_3.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/blog.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,600" rel="stylesheet">

    <title>Alloy Strength | Homepage</title>
</head>

<body style="width: 100%">
    <div style="width:100%; height:100%; overflow:hidden;">
        <img style="overflow:hidden;" id='banner' src="{% static 'homepage/new_homepage_header.jpg' %}"/></img>
    </div> 

    <div style="width: 100%">
        <ul id='nav_bar'>   
            <li id="nav_link_1"><a href="{% url 'Home' %}"><i class="fa fa-caret-right" style="color:#00a9ff"></i>HOME</a></li>
            
            <li id="nav_link_2"><a href="{% url 'Blog' %}"><i class="fa fa-caret-right" style="color:#00a9ff"></i>BLOG</a></li>
        </ul> 
    </div>

    <div id='blog-container'>

        <div id='blog-left'>
            <img src="{% static 'homepage/logo_vector.png' %}" id='blog-logo'>
            <div id="blog-left-content">
                <h4 id="blog-left-alloy-strength">ALLOY STRENGTH</h4>
                <h6 id='blog-left-alloy-strength-desc'>ONLINE STRENGTH TRAINING SYSTEMS</h6>
                <hr style='border:none; border-top: 1px solid rgba(0,0,0,0.1); width: 90%; margin: auto'>
                <h1 id='blog-title'>Blog</h1>
                <div id="blog-left-posts">
                    {% for blog_post in blog_posts %}
                        <p><i class="fa fa-caret-right" style="color:#00a9ff"></i><span class='blog-left-post-title'>{{ blog_post.Title }}</span></p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div id='blog-right'>
            {% for blog_post in blog_posts %}
                <p style="margin-top: 4%"> 
                    <span class='blog-post-title'>{{ blog_post.Title }} <span style='font-family:Helvetica; font-weight: 100'> |</span></span>
                    <span class='blog-post-date'>{{ blog_post.FriendlyDate }}</span>
                </p>
                <p> {{ blog_post.Content | safe}} </p>
            {% endfor %}
        </div>

    </div>


</body>

</html>


<style>


</style>

