<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">


<!-- Include Vue.js Source Code -->
<script src='https://unpkg.com/vue'></script>
<!-- <script src="https://code.getmdl.io/1.3.0/material.min.js"></script> -->


<!-- Include HTML Code -->
<!-- Head --> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="http://momentjs.com/downloads/moment.js"></script>


    <!-- Material Design code -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   <!--  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-indigo.min.css" /> -->
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  
    <!-- Style Sheets -->
    <link rel="stylesheet" href="{% static 'userpage/userpage.css' %}">
    <link rel="stylesheet" href="{% static 'userpage/contact.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,600,700" rel="stylesheet">

    <title>Contact & Support</title>

</head>


<!-- Body --> 
<body>
    <div id='header-left'>
        <h1>Contact & Support</h1>
    </div>

    <div id='header-right'>
        <ul id='nav-bar'>
            <li><a href="{%url 'userpage' %}">Home</a></li>
            <li><a href="{%url 'userpage' %}">Videos</a></li>
            <li><a href="{%url 'userpage' %}">Past Workouts</a></li>
            <li><a href="{%url 'userprofile' %}">Profile</a></li>
            <li><a href="{%url 'contact' %}" class='page-active'>Contact & Support</a></li>
            <li><a href="{%url 'logout' %}">Logout</a></li>
        </ul>
    </div>

    <hr>

    <img id='user_design_img' src='{% static "userpage/header_design.svg" %}'>

    <h1>Staff Information</h1>
    <hr class='title-divider'>

    <div id='contact-container'>
        <div id='contact-container-left'>
            <p><span class='contact-name'>Name</span> | Email</p>
            <p><span class='contact-name'>Name</span> | Email</p>
            <p><span class='contact-name'>Name</span> | Email</p>
            <p><span class='contact-name'>Name</span> | Email</p>
        </div>

        <div id='contact-container-right'>
            <p>Please fill out the form below with any questions or concerns you may have.</p>
            <textarea id='contact-textarea' placeholder='How can we help you?'></textarea>
            <input type='button' value='SUBMIT FORM' id='submit-form'></input>
        </div>
    </div>
    
</body>

</html>


