{% load static %}
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
        <link href="{% static 'tutorial/tutorial.css' %}" rel="stylesheet">
    </head>

    <body>
        <div id="tutorial-container">
            <div id="tutorial-nav">
                <ul>
                    <li style="text-decoration: underline;"><a href="/userpage"><i>Back to Site</i></a></li>
                    <li style="text-decoration: underline;"><a href="/tutorial">Tutorial</a></li>
                    <li>Contents<hr style='width: 85%; margin-right: 15%; border: none; border-top: 1px solid rgba(0, 0, 0, 0.2);'</li>
                    <li><a href="#Hinge">Hinge</a></li>
                    <li style="font-size:1.25vw;">
                        <a href="#RDL">
                            &nbsp
                            &nbsp
                            Romanian Deadlift (RDL)
                        </a>
                    </li>
                    <li style="font-size:1.25vw;">
                        <a href="#BBDL">
                            &nbsp
                            &nbsp
                            Barbell (BB) Deadlift
                        </a>
                    </li>
                    <li><a href="#Squat">Squat</a></li>
                    <li style="font-size:1.25vw;">
                        <a href="#Squat_Goblet">
                            &nbsp
                            &nbsp
                            Goblet Squat
                        </a>
                    </li>
                    <li><a href="#UBHPull">Upper Body Horizontal Pull</a></li>
                    <li><a href="#UBHPush">Upper Body Horizontal Push</li>
                    <li style="font-size:1.25vw;">
                        <a href="#Bench_Press">
                            &nbsp
                            &nbsp
                            Bench Press 
                        </a>
                    </li>
                    <li style="font-size:1.25vw;">
                        <a href="#Floor_Press">
                            &nbsp
                            &nbsp
                            Floor Press 
                        </a>
                    </li>
                    <li><a href="#UBVPush">Upper Body Vertical Push</a></li>
                    <li><a href="#Accessory">Accessory Exercises</a></li>
                    <li style="font-size:1.25vw;">
                        <a href="#Accessory_Band_Pullapart">
                            &nbsp
                            &nbsp
                            Band Pullapart 
                        </a>
                    </li>
                </ul>
            </div>

            <div id="tutorial-content">
                <h2>Definitions</h2>
                <hr>
                <a name="Hinge">
                <h3>Hinge</h3>
                <hr>
                <a name="RDL">
                    <h4>Romanian Deadlift (RDL)</h4>
                    <hr>
                    <p>
                    The hinge movement pattern is one of the most important to perform to develop total body strength. A common variation of the hinge is the Romanian deadlift, or RDL. The RDL involves flexion and extension of the hips, beginning with the lifter standing fully upright, flexing the hips back or “hinging” until the torso is nearly parallel to the ground, and extending the hips to return upright again. The primary muscles groups involved include the gluteals, hamstrings, quadriceps, spinal erectors, latissimus dorsi, and the forearms/hands.
                    <ul>
                    <li>
                    Stance: the stance used for a typical hinge pattern is a "power stance", directly under the hips. An easy way to find the proper stance is to close your eyes and take a small hop; your feet should land directly where they need to be. It is important to never “lock” the knees out, and instead keep them “soft” but strong.
                    </li>
                    <li>
                    Grip: Alloy Strength recommends using a double overhand grip for DB RDL, with the dumbbells sliding across the front of the thighs and maintaining contact. Some people prefer to have a neutral grip with the dumbbells on the sides of the body, but this can often create faulty mechanics where the lifter attempts to “squat” the weight, and bend at the knee instead.
                    </li>
                    </ul>
                    <br>
                    Hamstring flexibility and the ability to maintain a neutral spine determine ultimate range of motion for an RDL. The goal of an RDL is to maximize the true hinge capability of the hips, and maintain a vertical shin with minimum flexion or extension of the knee. Once the hamstrings reach terminal length, to move any farther we would either have to bend at the knee or lose a neutral spine. Neither is ideal, and so once the hamstrings are “tight” the lifter should return to an upright position. Proper movement quality will improve range of motion over time.
                    <br><br>
                    In a PAUSE RDL, the lifter is assigned a pause in the bottom lengthened position, or “pocket”. This is known as an “isometric contraction”, in which force is produced but there is no muscle length change, and is an excellent way to improve stability and strength. The length of the pause will be specified on your Strength Card. 
                    <br><br>
                    In a TEMPO RDL, the exercise is assigned a specific tempo for each three phases of movement: the eccentric phase, or muscle lengthening phase, during which the lifter is descending into the pocket, the isometric phase, or a pause in the pocket, and the concentric phase, or muscle shortening phase, during which the lifter is extending the legs to return to upright.The specific tempo will be specified strength card as such: Eccentric/Isometric/Concentric. So, a 5/2/1 tempo would mean a 5 second descent into the pocket, a 2 second pause in the pocket, and a 1 second ascent to standing. The ascent, or concentric phase, will usually be marked as an “X”, meaning the lifter should attempt to “explode” and move as quickly as possible during this phase.
                    </p>
                </a>
                <a name="BBDL">
                    <h4>Barbell (BB) Deadlift</h4>
                    <hr>
                    <p>
                    The hinge movement pattern is one of the most important to perform to develop total body strength, and chief among hinge exercises is the deadlift. The deadlift involves extension of the hips and knees, with the bar beginning on the floor and ending with the lifter standing fully upright. The primary muscles groups involved include the gluteals, hamstrings, quadriceps, spinal erectors, latissimus dorsi, and the forearms/hands.
                    <ul>
                    <li>Stance: the stance used for a traditional deadlift is a "power stance", directly under the hips. An easy way to find the proper stance is to close your eyes and take a small hop; your feet should land directly where they need to be. It is important to never “lock” the knees out, and instead keep them “soft” but strong.</li>
                    <br>
                    <li>Grip: the three grip options for a barbell deadlift are double overhand (palms down, or pronated), mixed grip (one hand palm up/supinated, one hand palm down/pronated), or hook grip.Trap bar deadlift variations employ a neutral grip, with the palms facing each other. Regardless of grip choice, the goal is to set the bar in the first “crease” of the fingers. This is where we are strongest in holding or pulling movements. Attempting to bury the bar deep in the palm will cause the bar to roll and move, decreasing strength and increasing the risk of blisters or a torn callus. Double overhand is recommended for beginners and non-barbell variations.  Mixed grip is stronger than double overhand, however prolonged use can lead to muscular and structural imbalances in the upper back, shoulders, and spine. Hook grip is the strongest grip to use, but can be painful at first and is considered a more advanced grip variation</li>
                    <br>
                    <li>Neutral spine: coaches often use the terms “flat back” or “table top back” to describe spinal positioning. However, this is incorrect as the spine is not truly flat. Every person’s spine has some degree of flexion, or rounding, in the upper back (thoracic region), and some degree of extension, or arching, in the lower back (lumbar region). While the exact degree of flexion and extension varies, and every person’s neutral spine may be a little bit different, a neutral spine is the guaranteed safest posture regardless of movement pattern or body positioning. It is very important to maintain a neutral spine throughout the entire hinge movement to help reduce risk of injury and improve performance.</li>
                    <br>
                    <li>Glute lockout: rather than finishing a deadlift by throwing the shoulders back and hyperextending (arching) through the low back, the goal is instead to “tuck” the glutes directly under the shoulders in a neutral posture to complete the lockout. This movement is known as a “posterior pelvic tilt”, and is extremely important for health and function of the lumbar spine and pelvis.</li>
                    </ul>
                    <br>
                    Not sure how high or low your hips need to be at the start? Ideally the shins are vertical (or as close as you can get, depending on limb lengths), with the shoulders directly over the bar. This can mean slightly different hip heights depending on the person. Alloy Strength recommends the following to determine your proper set up from the floor: 1) begin from a standing position, with your arms long and straight down from the shoulders. 2) Hinge at the hips, pushing them back as far as you can until your hamstrings are tight. 3) Flex or bend your knees the minimum distance you need to get your hands to the bar. This should be your ideal starting position, with your hips at the correct height. This will also guarantee that the bar remains close to the legs over the entire range of motion. The closer the bar remains to the body’s center of mass, the more weight that can be lifted safely.
                    <br>
                </a>
                </p>
                </a>
                <hr>
                <a name="Squat">
                    <h3>Squat</h3>
                    <hr>
                    <p>
                    The squat movement pattern is one of the most important to develop lower body strength, and chief among squat exercises is the barbell high bar back squat. The exercise begins in a standing position, with the bar resting across the upper back and trapezius, behind the lifter’s head. The lifter descends, squatting as deeply as possible with good technique and a neutral spine, and returns to a standing position. The primary muscles groups involved include the gluteals, hamstrings, quadriceps, and the muscles of the trunk and core.
                    <ul>
                    <li>Stance: the stance typically used for a squat is a “strength stance”, or approximately shoulder width apart. Exact stance width varies due to limb length and pelvic anthropometric differences. While some people prefer to squat with the toes facing forward (neutral), Alloy Strength recommends angling the feet out approximately 15 degrees. This “toes out” position aids in proper knee tracking and improves gluteal activation due to the external rotation at the hip. It is important to never “lock” the knees out, and instead keep them “soft” but strong.</li>
                    <br>
                    <li>Hips engage first: Even though the greatest range of motion in a squat is observed at the knee, a proper squat pattern still begins with a slight hinge movement. This engages the musculature of the hip, especially the gluteals, and aids in proper knee tracking, weight distribution, and bar path.</li>
                    <br>
                    <li>Knee tracking: one of the most common and dangerous dysfunctions in a squat pattern is for the knees to collapse in towards one another. This is known as “valgus”, and places a great deal of stress on the supportive structures of the knee, particularly the meniscus and ACL, greatly increasing the risk of injury. Ideally, the knees track over the little, or pinky, toes at all times. This is a safe and strong position for the feet, knees, and hips</li>
                    <br>
                    <li>Bar remains over midfoot: The goal with any squat pattern movement is to keep the load as close to the lifter’s center of mass as possible. Any drifting away from the center of mass places the lifter at a mechanical disadvantage and makes the lift much more difficult to execute. The center of mass in the sagittal (forward and backward) plane of movement is directly over the midfoot. Therefore, keeping the barbell over the midfoot during the entire range of motion is the ideal bar path for strength and performance.</li>
                    </ul>
                    <br>
                    Notice within all of Alloy Strength’s squat pattern videos that parallel depth (descending so that the knee joint is even with the hip joint) is not required or discussed. Why? Some people are able to squat far past parallel with good technique, while others struggle to even come close, due to mobility or skeletal restrictions. Parallel depth is only required in the sport of powerlifting to judge a good lift. While ideally everyone would be able to squat below parallel, this is not always the case, especially at first. Instead, each individual should squat as deeply as they can while maintaining proper knee tracking and a neutral spine, and range of motion will improve over time.
                    <br><br>
                    In a PAUSE SQUAT, the lifter is assigned a pause in the pocket of the squat before pushing through the legs to finish the lift. This is known as an “isometric contraction”, in which force is produced but there is no muscle length change, and is an excellent way to improve stability and strength. The length of the pause will be specified on your Strength Card. 
                    <br><br>
                    In a TEMPO SQUAT, the exercise is assigned a specific tempo for each three phases of movement: the eccentric phase, or muscle lengthening phase, during which the lifter is descending into the pocket, the isometric phase, or a pause in the pocket, and the concentric phase, or muscle shortening phase, during which the lifter is extending the legs to return to upright.The specific tempo will be specified strength card as such: Eccentric/Isometric/Concentric. So, a 5/2/1 tempo would mean a 5 second descent into the pocket, a 2 second pause in the pocket, and a 1 second ascent to standing. The ascent, or concentric phase, will usually be marked as an “X”, meaning the lifter should attempt to “explode” and move as quickly as possible during this phase.
                </p>
                </a>
                <a name="Squat_Goblet">
                    <h4>Goblet Squat</h4>
                    In a PAUSE GOBLET SQUAT, the lifter is assigned a pause in the pocket of the squat before pushing through the legs to finish the lift. This is known as an “isometric contraction”, in which force is produced but there is no muscle length change, and is an excellent way to improve stability and strength. The length of the pause will be specified on your Strength Card. 
                    <br><br>
                    In a TEMPO GOBLET SQUAT, the exercise is assigned a specific tempo for each three phases of movement: the eccentric phase, or muscle lengthening phase, during which the lifter is descending into the pocket, the isometric phase, or a pause in the pocket, and the concentric phase, or muscle shortening phase, during which the lifter is extending the legs to return to upright.The specific tempo will be specified strength card as such: Eccentric/Isometric/Concentric. So, a 5/2/1 tempo would mean a 5 second descent into the pocket, a 2 second pause in the pocket, and a 1 second ascent to standing. The ascent, or concentric phase, will usually be marked as an “X”, meaning the lifter should attempt to “explode” and move as quickly as possible during this phase.
                </a>
                <hr>
                <a name="UBHPull">
                    <h3>Upper Body Horizontal Pull (UB Hor Pull)</h3>
                    <hr>
                    <p>
                    The upper body horizontal pull movement pattern is one of the most important to perform to develop upper body strength. A common bodyweight pull variation is the inverted row. The inverted row involves flexion and extension of the elbows and shoulders, beginning with the lifter hanging underneath a bar, driving the elbows and shoulder blades back until the mid-sternum touches the bar, and lowering with control to finish at a full hang. The closer the lifter is to parallel to the ground the more difficult the exercise becomes. The primary muscle groups involved include the latissimus dorsi, trapezius, rhomboids, posterior deltoids, and the biceps brachii.
                    <ul>
                    <li>Grip</li>
                    <li>Setup</li>
                    <li>Elbows track close to torso</li>
                    <li>Pull bar to mid-sternum</li>
                    <li>Pinch shoulder blades together at the top</li>
                    </ul>
                </p>
                </a>
                <hr>
                <a name="UBHPush">
                <h3>Upper Body Horizontal Push (UB Hor Push)</h3>
                </a>
                <a name="Bench_Press">
                    <hr>
                    <h4>Bench Press</h4>
                    <hr>
                    <p>The upper body horizontal push movement pattern is one of the most important for developing upper body strength, and chief among horizontal push movements is the barbell bench press. The bench press involves flexion and extension of the shoulders and elbows, beginning with the arms extended over the shoulders, descending until both elbows come to a complete rest on the lower chest, and finishing with the arm again extended over the shoulders. The primary muscle groups involved include the pectoralis major and minor, the anterior deltoid, and the triceps brachii.
                    <ul>
                    <li>
                    Setup: the bench press setup position is often referred to as “5 points of contact” - the head, shoulder blades, hips, and both feet. All points must remain in contact with either the floor or bench. The whole foot does not have to be flat on the ground, but should be in a strong and stable position that feels comfortable, with a knee angle typically greater than 90 degrees. Common issues include popping the hips off of the bench or losing foot position, leading to an unstable base. A good rule of thumb is to align the bench so that the bar is directly over the lifter’s eyes.
                    </li>
                    <br>
                    <li>
                    Grip: a common issue with bench press is wrist “rollback”, or excessive extension. The creates an unstable wrist position and does not efficiently transfer force into the bar. By burying the bar in the webbing of the thumb, the bar is as close to the wrist as possible, creating a neutral wrist with the middle row of knuckles on top of the bar as if the lifter is punching the ceiling.
                    </li>
                    <br>
                    <li>
                    Grip width: how far apart the hands are placed varies by lifter due to shoulder anthropometry, limb lengths, and personal preference.  A good rule of thumb for hand placement is 1.5 times biacromial width, or 1.5 times the length of both clavicles (collar bones). Regardless of grip width, the elbows must track directly under the wrist at all times.
                    </li>
                    </ul>
                    </p>
                </a>
                <a name="Floor_Press">
                    <hr>
                    <h4>Floor Press</h4>
                    <hr>
                    <p>
                    The upper body horizontal push movement pattern is one of the most important to perform to develop upper body strength. A common push variation is the floor press, which is more shoulder-friendly due to the range of motion and can aid in the “lockout” of other press movements . The floor press involves flexion and extension of the shoulders and elbows, beginning with the arms extended over the shoulders, descending until both elbows come to a complete rest on the floor, and finishing with the arm again extended over the shoulders. The primary muscle groups involved include the pectoralis major and minor, the anterior deltoid, and the triceps brachii.
                    <ul>
                    <li>
                    Setup: the ideal position for the dumbbells is at the hips. This allows the lifter to properly set the upper back, retracting (pulling back) and depressing (pulling down) the shoulder blades and keeping the elbows close. The lifter can then rock back directly into the proper position to press.
                    </li>
                    </ul>
                    </p>
                </a>
                <hr>
                <a name="UBVPush">
                    <h3>Upper Body Vertical Push (UB Vert Push)</h3>
                    <hr>
                    <p>
                    The upper body vertical push movement pattern is important to perform to develop upper body strength. A common vertical push variation is the dumbbell neutral standing overhead press The press involves flexion and extension of the shoulders and elbows, beginning with the dumbbells facing each other at chin height, flexing the arms overhead to lockout the dumbbells over the midline of the body, and descending with control back to the starting position. The primary muscle groups involved include the pectoralis minor, the anterior deltoid, and the triceps brachii.
                    <ul>
                    <li>Grip: a neutral grip is initially recommended for vertical push movements. This is a safer and more stable position for the shoulder, avoiding internal rotation or an anterior glide. As you level up, there will be different grip variations.</li>
                    <li>Maintain tension through abdominals: a common mistake with vertical push exercises is arching/extending the low back and flaring the rib cage, losing a neutral spine.</li>
                    <li>Forearms vertical at all times: it is important for the shoulders, elbows, and wrists to track together throughout the entire range of motion. Flaring the elbows outside of the wrist puts the shoulder in internal rotation and can create a great deal of stress in the anterior (front) capsule of the shoulder                        
                    </li>
                    </ul>
                    <br>
                    The goal of vertical pushing exercises is to finish the movement with the load directly above the midline of the body. The ears are an easy landmark to use, and “biceps by by the ears” is a common cue to ensure proper lockout position. The movement of the arm relative to the scapula (shoulder blade) is known as “scapulohumoral rhythm”. When the arm is below the shoulder, it is important to keep the shoulder blade depressed (space between ear and shoulder). Once the elbow is even with, or above, the shoulder, it is important to allow natural elevation, or shrug, to occur for proper scapulohumoral rhythm and lockout position.
                    </p>
                </a>
                <hr>
                <a name="Accessory">
                <h3>Accessory Exercises</h3>
                    <hr>
                <a name="Accessory_Band_Pullapart">
                <h4>Band Pullapart</h4>
                    <hr>
                    <p>
                    The band pullapart is an important accessory movement to aid in proper scapular mechanics and shoulder health. The movement is typically performed with a pronated (palms down) grip, beginning with the arms outstretched in front of the shoulders. The lifter then pulls the band apart until it makes contact with the lower sternum, resisting the band with control until the arms are again in front of the shoulders. The major muscles involved include the posterior deltoid, middle trapezius, and rhomboids. 
                    <ul>
                    <li>Arms stay straight: the major movement that the arms are performing in a pullapart is abduction, or moving away from the saggital plane midline of the body (front and back plane)</li>
                    <li>Scaps pinched together: the major movement that the scapula are performing in a pullapart is retraction, or moving away from the frontal plane (left to right plane).</li> 
                    </ul>
                    <!-- <br> -->
                    The band pullapart is a great way to begin to learn “shoulder packing”, or the ideal shoulder position for pushing and pulling. 
                    </p>
                </a>
                </a>
            </div>

        </div>

    </body>

</html>