<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">


<!-- Include Vue.js Source Code -->
<script src='https://unpkg.com/vue'></script>
<!-- <script src="https://code.getmdl.io/1.3.0/material.min.js"></script> -->


<!-- Include HTML Code -->
<!-- Head --> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="http://momentjs.com/downloads/moment.js"></script>


    <!-- Material Design code -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   <!--  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-indigo.min.css" /> -->
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  
    <!-- Style Sheets -->
    <link rel="stylesheet" href="{% static 'userpage/userpage.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,600,700" rel="stylesheet">

    <title>User Page</title>

</head>


<!-- Body --> 
<body>
    <h1 style="display:inline-block; margin-left:2vw;">Progress Report</h1>
    <hr>
    <img id='user_design_img' src='{% static "userpage/header_design.svg" %}'>

<!--     <img src='{% static "userpage/header_design.svg" %}'>
 -->

</head>
<body>
    <div style="padding-left:30px;">
    <form method="GET">

    <h2 style="margin-top:3vw; display:inline-block;">{{Main_Message}}
    <br><br> {{Second_Message}}</h2>

    <h2 style="margin-top:3vw; display:inline-block; margin-right:2vw; float:right;"><a href="/userpage">Back To Site</a></h2>
    <br>
    <div style="display:inline-block; border-style:solid; padding:0.5vw; width:35%;">
        <h3>Your Workout Summary:</h3>
        <h4>Core Stats</h4>
        {% for Stat in Core_Stats %}
        <b>{{Stat.Type}}</b>:
        {{Stat.Exercise_Name}}
        {% for Pass in Stat.PASSED %}
        <span style="color:green;">
        {{Pass}}
        </span>
        {% endfor %}
        {% for Fail in Stat.FAILED %}
        <span style="color:red;">
        {{Fail}}
        </span>
        {% endfor %}
<!--         {{Stat.Alloy_Outcome}}
        {{Stat.Alloy_Reps}}
        {{Stat.Alloy_Performance_Reps}}
 -->        
        <br>
        {% endfor %}
        <h4>Other Stats</h4>
        {% for Stat in Stats %}
        <b>{{Stat.Type}}</b>:
        {{Stat.Exercise_Name}}
        {% for Pass in Stat.PASSED %}
        <span style="color:green;">
        {{Pass}}
        </span>
        {% endfor %}
        {% for Fail in Stat.FAILED %}
        <span style="color:red;">
        {{Fail}}
        </span>
        {% endfor %}
<!--         {{Stat.Alloy_Outcome}}
        {{Stat.Alloy_Reps}}
        {{Stat.Alloy_Performance_Reps}}
 -->        
        <br>
        {% endfor %}
    </div>
    <div class="userprofile-col-12" 
    style="display:inline-block; vertical-align:top; border-style:solid; padding:2vw; padding-top:0vw; margin-left:3vw;">
        <h3>View Your Unlocked Videos Here: </h3>    
        <input type="submit" id="blue_btn" style="font-size:1vw; height:3vw; margin-left:0vw;" 
        value="View Unlocked Videos">
        <h3>Your Next Set of Workouts Will Be At Level: {{Level}}</h3>    
        <input type="submit" id="blue_btn" style="font-size:1vw; height:3vw; margin-left:0vw;" 
        value="Get Next Workout Block">
    </div>

    <!-- <br> -->
    </form>
    </div>

</body>

</html>


<script>

</script>


<style>
    .workout .ui-state-default {
        background-color: orange; 
    }

    .today .ui-state-default {
        border: 1px solid black;
    }

</style>


