* {
    margin: 0px;
    padding: 0px;
    color: white;
}
.container{
    padding: 2%;
}
body {
    
    background-image:radial-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('gym_background.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
.row {
    max-width: 100%;
    margin: auto;
}

header {
    height: 90px;
    background-color: black;
    margin-bottom: 60px;
}
.alloylogo{
    height: 90px;
    width: auto;
}

.imginsta {
    max-height: 300px;
    font-size:14px;
    font-family:Arial, Helvetica, sans-serif
}
.coachbio-text-panel {
    max-height: 300px;
    padding-left: 2%;
    padding-right: 4%;    
    text-align: justify;
    overflow-y: scroll; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;    
}

/* These are for Coach 1 image hover */

.coachpics {
  opacity: 1;
  display: block;
  width: 100%;
  /* height: 350px; */
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.imginsta:hover .coachpics {
  opacity: 0.3;
}

.imginsta:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 50px;
  padding: 16px 32px;
}
.coachname {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

/* For Coach1 with professor */

.coach1 {
    max-width: 100%;
    padding: 10%;
    max-height: 700px;
    padding-bottom: 5%;
}





