* {
    margin: 0px;
    padding: 0px;
    color: white;
}
.container{
    padding: 2%;
}
body {
    
    background-image:radial-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('gym_background.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.row {
    max-width: 100%;
    margin: auto;
}

.alloylogo{
    height: 80px;
    width : 80px
}